body {
  background-color: lightgray;
  font-family: "Helvetica Neue", sans-serif;
  color: #465865;
  font-size: 16px;
    font-weight: 300;
  }

  table tr td {
    padding: 5px 8px;
    line-height: 20px;
  }

    .block {
      background: #ffffff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  .content-wrapper {
    height: 480px;
    display: flex;
    padding-top: 45px;
    justify-content: center;
  }

  .second-row {
    display: flex;
    padding: 45px 35px 45px 17px;
    justify-content: center;
  }

  /**************HEADER**************/

  .header {
    position: fixed;
    display: flex;
    justify-content: center;
    font-size: 25px;
    box-shadow: 0px 0px 30px 0px rgba(8, 8, 8, 0.1);
    background:rgba(255,255,255,0.97);
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
  }

  .date {
    flex: 1;
    text-align: center;
    padding:25px;
  }

  .header .refresh {
    align-self: center;
    padding: 0 40px 0 0;
    border: none;
  }

  /**************SUMMARY BOXES**************/
  .summary-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 225px;
    padding-right: 25px;
  }

  .summary-box {
    height: 150px;
    width: 100%;
    background-color:#ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  .summary-box .title {
    width: 100%;
    font-size:16px;
    color: #465865;
    display:table;
    text-align: center;
    padding-top: 45px;
  }

  .summary-box .value {
    width: 100%;
    text-align:center;
    display:table;
    font-size: 22px;
    color: #465865;
    padding-top: 18px;
  }

  /**************BREAKDOWN TABLE**************/
  .breakdown-container {
    flex: 1;
    width: 600px;
  }

  .breakdown-table-title {
    font-size: 16px;
    text-align: center;
    line-height: 65px;
    padding: 5px 0px 4px 10px;
    color:#465865 !important;
    border-bottom-style: solid;
    border-bottom-color: #efefef;
    border-bottom-width: 1px;
  }

  .energy-source-breakdown-table-header {
    font-size: 16px;
    line-height: 41px;
    padding: 5px 0px 4px 10px;
    margin: 0px;
  }

  .energy-source-breakdown-standard-cell {
    height:80px;
    font-size: 16px;
    cursor: pointer;
  }

  td.energy-source-title {
    font-size: 18px;
    color: #465865;
    border-bottom-style: solid;
    border-bottom-color: #efefef;
    border-bottom-width: 1px;
  }

  td.energy-source-values {
    width:95%;
    border-bottom-style: solid;
    border-bottom-color: #efefef;
    border-bottom-width: 1px;
  }

  .td.energy-source-disclosure {
    width:40px;
    border-bottom-style: solid;
    border-bottom-color: #efefef;
    border-bottom-width: 1px;
  }

  td.energy-source-icon {
    width: 50px;
     border-bottom-style: solid;
    border-bottom-color: #efefef;
    border-bottom-width: 1px;
  }


  td.energy-source-icon img {
    width: 30px;
  }

  td.energy-source-disclosure {
    border-bottom-style: solid;
    border-bottom-color: #efefef;
    border-bottom-width: 1px;
  }

  td.energy-source-disclosure img {
    width: 15px;
    height: 15px;
    float: right;
  }

  .energy-source-selected td{
    background-color: #fafafa;
  }

  .bar-background {
    position:relative;
    width: 100%;
    top:0px;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:#DBDBDB;
    z-index:1;
  }

  .bar {
    position:relative;
    width: 5%;
    top:0px;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:#0a0a0a;
    z-index:2;
  }

  .percentage {
    float: right;
  }

  .biofuel-bar {
    background-color: #FFE66D;
  }

  .coal-bar {
    background-color: #5E5A5F;
  }

  .hydro-bar {
    background-color: #093B6A;
  }

  .gas-bar {
    background-color: #CE632D;
  }

  .wind-bar {
    background-color: #266B6B;
  }


  /**************PLANT BREAKDOWN**************/
  .plant-container {
  flex: 1;
  width: 600px;
  background-color: #ffffff;
  overflow: auto;
  padding-bottom: 5px;
  }

  .power-plant-breakdown-table-header {
    height: 226px;
  }

  .power-plant-breakdown-table-div {
    overflow: scroll;
    height: 200px;
    background-color: #ffffff;
    color: #465865;
  }

  .power-plant-breakdown-summary {
    height:132px;
    color:#ffffff;
  }

  .power-plant-breakdown-summary-title {
    line-height: 50px;
    padding: 5px 0px 5px 0px;
    text-align:center;
    text-transform: lowercase;
    font-size: 30px;
  }

  .power-plant-breakdown-summary-bar-background {
    width: 70%;
    height: 10px;
    margin: 0 auto;
    margin-top: 10px;
    background-color:#DBDBDB;
    z-index:1;
  }

  .power-plant-breakdown-summary-bar {
    position:relative;
    width: 5%;
    height: 10px;
    background-color:#ffffff;
    z-index:2;
  }

  .power-plant-breakdown-summary-values {
    line-height: 40px;
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    height: 40px;
    font-size: 16px;
  }

  .power-plant-column-header {
    line-height: 44px;
    height: 44px;
    border-bottom-style: solid;
    border-bottom:1pt solid #efeff4;
  }

  .power-plant-breakdown-table tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
  }

  .power-plant-breakdown-table thead th {
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    padding-left: 10px;
    text-transform: lowercase;
  }

  .power-plant-breakdown-table tbody td{
    height: 44px;
    line-height: 44px;
    border-bottom:1pt solid #efeff4;
    vertical-align: middle;
  }

  td.power-plant-name-data {
    height: 44px;
    line-height: 33px;
    text-transform: uppercase;
    width: 50%;
    font-size: 14px;
    padding-left: 10px;
  }

  td.power-plant-name-data a {
  font-weight: 200;
  }

  td.power-plant-output-data {
    height: 44px;
    line-height: 33px;
    width: 25%;
    font-size: 16px;
    text-align: center;
  }

  td.power-plant-capability-data {
    height: 44px;
    line-height: 33px;
    width: 25%;
    font-size: 16px;
    text-align: center;
  }

  /**************LEGEND**************/

  .legend-container {
    display: flex;
    flex-direction: column;
    width: 225px;
    padding-right: 25px;
    font-weight: 400;
  }

  .legend-box {
    height: 150px;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color:#ffffff;
    margin: 0 0 15px 0;
  }

  .legend-box .title {
    padding-top: 15px;
    width: 100%;
    font-size:16px;
    color: #465865;
    display:table;
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
  }


 /**************SUNBURST**************/

  .sunburst-wrapper {
    align-content: center;
    display: flex;
    width: 700px;
    height: 700px;
    padding-top: 30px;
    padding-right: 25px;
    padding-left: 30px;
  }

/**************DISCLAIMER**************/
  .disclaimer-box {
    position: absolute;
    justify-content: center;
    box-shadow: 0px 0px 30px 0px rgba(8, 8, 8, 0.1);
    background:rgba(255,255,255,0.97);
    height: 100px;
    width: 100%;
    padding-bottom: 30px;
    font-size: 20px;
  }
