<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='styles/css/layout.css' type="text/css"/>
        <title>Power Scouter</title>
    </head>
    <body>
        <% include partials/_header.html %>
        <section class="content-wrapper">
            <% include partials/_summary-container.html %>

            <% include partials/_breakdown-table.html %>

            <% include partials/_plant-breakdown.html %>

            <% include partials/_sunburst-graph.html %>

        </section>

    </body>
</html>

